In [6]:
import numpy as np

## Normal list

In [2]:
list_obj = [[12,3,4,5],[2,6,22,1]]

In [3]:
print(list_obj)

[[12, 3, 4, 5], [2, 6, 22, 1]]

In [4]:
type(list_obj)

list

## Numpy array

In [7]:
numpy_obj = np.arange(27)

## numpy_obj is a one dimension array

In [8]:
numpy_obj

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [9]:
type(numpy_obj)

numpy.ndarray

### Creating 2d array using numpy

In [16]:
two_d_array = numpy_obj.reshape(3,9)

In [17]:
two_d_array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26]])

### Creating a 3d array

In [20]:
three_d_array = numpy_obj.reshape(3,3,3)

In [21]:
three_d_array

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

### Converting the list into numpy array

In [22]:
list_to_array = np.asarray(list_obj)

In [23]:
list_to_array

array([[12,  3,  4,  5],
       [ 2,  6, 22,  1]])

In [24]:
print(list_to_array)

[[12  3  4  5]
 [ 2  6 22  1]]

In [25]:
type(list_to_array)

numpy.ndarray