In [56]:
import pandas as pd

## geopy is one of the package used to get the geocode when we pass an address

## import the nominatim method from geopy.geocoder as it has the 
## function geocode

In [57]:
from geopy.geocoders import Nominatim

## create a Nominatim object nom

In [4]:
nom = Nominatim()

## test the object, if the address is not valid it returns "None"

In [69]:
nom.geocode("Tesco India, 560066")

Location(Tesco, Vydehi Hospital Road, Export Promotion Industrial Park, Whitefied, Brookefields, Nallurahalli, Bangalore Urban, Karnataka, 560066, India, (12.9737063, 77.7285351334019, 0.0))

In [70]:
n = nom.geocode("Tesco India, 560066")

In [71]:
n.address

'Tesco, Vydehi Hospital Road, Export Promotion Industrial Park, Whitefied, Brookefields, Nallurahalli, Bangalore Urban, Karnataka, 560066, India'

## Print latitude, longitude etc

In [73]:
print(n.latitude, n.longitude, n.altitude)

12.9737063 77.7285351334019 0.0

In [15]:
import os
os.listdir()

['3_Dataframe_delete_update_adding_new_items.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 '1_PandasDataFrame_LoadingDiff_Filetypes.ipynb',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 '2_Dataframe_Indexing_and_slicing.ipynb',
 'supermarkets-commas.txt',
 '4_Finding_geolocation_from_address.ipynb']

In [16]:
df = pd.read_csv('supermarkets-commas.txt')
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

## Test the object using a valid address

In [17]:
nom.geocode("3666 21st St, San Francisco, CA 94114")

Location(21st Street, Mission District, SF, California, 94114, United States of America, (37.7570511, -122.4188036, 0.0))

## Changing the address column so that we can pass it to 'geocode' function

In [19]:
df['Address']  = df['Address']+', '+df['City']+', '+df['State']
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20

## Using the 'apply' method we can apply a method in all the rows

In [25]:
df['Coordinates'] = df['Address'].apply(nom.geocode)

In [32]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [42]:
df['Coordinates']

0    (21st Street, Mission District, SF, California...
1                                                 None
2    (Hill Street, Liberty Street Historic District...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (Sanchez Street, Noe Valley, SF, California, 9...
5    (Alvarado Street, Noe Valley, SF, California, ...
Name: Coordinates, dtype: object

In [40]:
df['Coordinates'][0].longitude

-122.4188036

In [41]:
df['Coordinates'][0].latitude

37.7570511

## Using apply and a lambda function extract the longitude and latitude
## Since there are some None value we have to handle that.

In [60]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x.latitude if x != None else None)
df['Longitude'] = df['Coordinates'].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California...",37.757051,-122.418804
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440